/**
 * 
 * styles.css
 * basic layout using css grid
 *
 */

/* set up grid-template-areas */
.header {
    grid-area: header;
}

.content { 
    grid-area: content;
}

.side {
   grid-area: side;
}

.footer {
    grid-area: footer;
}

/* set up mobile layout */

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
  }

